COMPILER = ${tool.compiler}
LINKER = ${tool.linker}
LIBTOOL = ${tool.libtool}

TARGET = ${api.sources}
HOME = ${api.home}

${api.distribution}-${api.language}-${api.flavour}.${api.version}.lib: $(TARGET)
	$(LIBTOOL) /OUT:$@ $^ 

$(TARGET): %.obj : src/%.cpp
	$(COMPILER) $(CXXFLAGS) /c $< /Fo$@ /I include /I $(HOME)/include

clean: clean.cmd

clean.shell:
	rm *.lib
	rm *.obj

clean.cmd:
	del *.lib
	del *.ob